body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

#navbar-section {
    background-color: rgb(64, 25, 109, 0.1);
    color: #40196d;
}

#hero h1 {
    font-size: 60px;
    font-weight: 700;
    color: #40196d;
}

#hero p {
    font-size: 40px;
}

#hero strong {
    font-size: 45px;
    font-weight: 600;
}

#top-hero-carousel h1 {
    font-size: 60px;
    font-weight: 700;
}

#navbar-section a {
    color: #40196d;
}

#get-started .appstore-imgs {
    max-width: 50%;
}

#illustrations h3 {
    color: #581c9c;
    font-size: 35px;
    font-weight: 600;
}

#illustrations p {
    font-weight: 500;
}

#illustrations strong {
    color: #581c9c;
}

#savemoney .img-fluid {
    max-width: 80%;
    height: auto;
}

#comparism-table h3 {
    font-size: 30px;
    font-weight: 400;
    color: #581c9c;
}

.partners-imgs {
    max-width: 80%;
    height: auto;
}

/* Footer Section*/
#top-footer {
    background-color: #40196d;
    color: white;
}

#footer-logo img {
    max-width: 50px;
}

a {
    text-decoration: none;
    color: white;
}

#top-footer button {
    background-color: hsl(268deg 63% 13%);
    color: white;
}

#bottom-footer {
    color: white;
    background-color: hsl(268deg 63% 13%);
}

/*End*/


/* OTHER SCREEN WIDTH SIZES CUSTOMISATION */
/* less than (<) 992px screen width */
@media screen and (max-width:991px) {
    #top-hero-carousel h1 {
        font-size: 45px;
    }
}

/* less than (<) 768px screen width */
@media screen and (max-width:767px) {
    #hero h1 {
        font-size: 45px;
    }

    #hero p {
        font-size: 30px;
    }

    #hero strong {
        font-size: 33.75px;
        font-weight: 600;
    }

    #illustrations h3 {
        font-size: 25px;
        text-align: center;
    }

    #illustrations p {
        text-align: center;
    }

    #comparism-table tbody {
        font-size: smaller;
    }

    #free-card-info .img-fluid {
        max-width: 30%;
        height: auto;
    }

    #easyclick-section .img-fluid {
        max-width: 50%;
        height: auto;
    }

    #savemoney .img-fluid {
        max-width: 45%;
        height: auto;
    }

    #our-partners .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}

/* less than (<) 576px screen width */
@media screen and (max-width:575px) {
    .appstore-imgs {
        max-width: 50%;
        height: auto;
    }
}

/* less than (<) 540px screen width */
@media screen and (max-width:539px) {
    #comparism-table tbody {
        font-size: 0.8rem;
    }
}

/* less than (<) 472px screen width */
@media screen and (max-width:471px) {
    #comparism-table tbody {
        font-size: 0.7rem;
    }
}